<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109933127672-cgrvcre83onk2293l9aktqk4mhn8gqh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109933127672-cgrvcre83onk2293l9aktqk4mhn8gqh9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>109933127672-lgk6fs2vma9ttlegipef1vuvrqmqbi64.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwflFJehf-wAT49nPXwGlyV4VK938tpEg</string>
	<key>GCM_SENDER_ID</key>
	<string>109933127672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rider</string>
	<key>PROJECT_ID</key>
	<string>exalt-logistics</string>
	<key>STORAGE_BUCKET</key>
	<string>exalt-logistics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109933127672:ios:08ac36dba280aad643180d</string>
	<key>DATABASE_URL</key>
	<string>https://exalt-logistics.firebaseio.com</string>
</dict>
</plist>